/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  min-height: 80vh;
  justify-content: center;
  align-items: center;
}

.pickup-line-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 20px;
  position: relative;

  .pickup-line {
    font-size: 27px;
    margin-bottom: 30px;
  }

  & > * {
    margin-bottom: 10px;
  }

  button {
    border: 0;
    background: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    position: relative;
    bottom: 0;
    transition: all 0.25s;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;

    &:hover {
      // top: -1px;
      box-shadow: 3px 5px 5px #ccc;
    }

    &:active {
      bottom: -2px;
    }
  }
}


@media (max-width: 600px) {
  main {
    max-width: auto;
  }
}

@-webkit-keyframes spin {
  to {
    stroke-dashoffset: -264;
  }
}

@keyframes spin {
  to {
    stroke-dashoffset: -264;
  }
}

app-spinner {
  text-align: center;

  .spinner {
    circle {
      fill: none;
      stroke: slategray;
      stroke-width: 16;
      stroke-linecap: round;
      stroke-dasharray: 0, 0, 70, 194;
      stroke-dashoffset: 0;
      animation: spin 0.6s infinite linear;
      -webkit-animation: spin 0.6s infinite linear;
    }
  }
}
